sudo: false
language: node_js
node_js:
  - '0.12'
  - '4'
  - 'stable'

# install node-canvas dependencies
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
    - libcairo2-dev
    - libgif-dev
    - libjpeg8-dev
    - libpango1.0-dev

before_script:
  - npm install -g codeclimate-test-reporter
  - npm run build

  # Run Firefox with a virtual screen
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

after_script:
  - npm run coverage
  - codeclimate-test-reporter < coverage/lcov.info
